*{
    margin: 0;
    padding: 0;
}


.am1{
    width: auto;
    height: auto;
    margin: auto;
    padding: 250px;
    background-image: url(images/image1.1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.am2 h1{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 100px;
    margin: auto;
    margin-top: -330px;
    font-family: 'Bebas Neue', cursive;
}

.am3{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 250px;
    font-family: 'Abril Fatface', cursive;
}

.am4{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 7px;
    color: gray;
}

.am5{
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-top: 130px;
    text-align: center;
    font-family: 'Edu QLD Beginner', cursive;
}

.am6{
    display: flex;
    flex-direction: row nowrap;
    margin-left: 200px;
    margin-top: 230px;
}

.caja1{
    width: 20px;
    padding: 150px;
    background-image: url('images/yo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.am7{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.caja2{
    width: 10px;
    background-image: url('images/city1.1.jpg');
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.caja3{
    width: 10px;
    background-image: url('images/nihon.jpg');
    padding: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.am8{
    display: flex;
    flex-direction: row nowrap;
    margin-left: 580px;
    margin-top: -210px;
}

.am9{
    display: flex;
    flex-direction: row nowrap;
    margin-left: 880px;
    margin-top: -360px;
}

.caja4{
    width: 30px;
    background-image: url('images/music1.4.jpg');
    padding: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}

.am10{
    display: flex;
    flex-direction: row nowrap;
    margin-left: 200px;
    margin-top: -90px;
}

.caja5{
    width: 20px;
    background-image: url('images/moda1.1.jpg');
    padding: 130px;
    background-repeat: no-repeat;
    background-size: cover;   
}

.caja1:hover{
    filter: opacity(0.4) drop-shadow(0 0 0 rgb(150, 192, 171));
}

.caja2:hover{
    filter: opacity(0.4) drop-shadow(0 0 0 rgb(150, 192, 171));
}

.caja3:hover{
    filter: opacity(0.4) drop-shadow(0 0 0 rgb(150, 192, 171));
}

.caja4:hover{
    filter: opacity(0.4) drop-shadow(0 0 0 rgb(150, 192, 171));
}

.caja5:hover{
    filter: opacity(0.4) drop-shadow(0 0 0 rgb(150, 192, 171));
}